<h1><%= @restaurant.name %></h1>
<%= @restaurant.address %>
<%= @restaurant.category %>
<%= @restaurant.phone_number %>
<br>
<%= link_to "Back to list", restaurants_path%>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<% @restaurant.reviews.each do |review| %>
<%= review.content %>
<% end %>
